/* Import font*/
@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Geist:wght@100..900&family=Kaushan+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Best practices */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Farsan", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Page styles */
body{
  min-height: 100vh;
  background-image: url('../images/HD-wallpaper-blue-neon-masonry-texture-neon-brick-texture-black-background-neon-abstraction-masonry.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Styles for main box (class calculator) */
.content{
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the inner part of the calculator (which contains the buttons and the display) */
.calculator{
  background-color: rgb(51, 102, 204);
  backdrop-filter: blur(15px);
  border: 3px solid silver;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 80px 50px -30px rgba(37, 186, 255, 0.25);
}

/* Styles for input element (basically the display of the calculator) */
input{
  width: 300px;
  padding: 20px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 36px;
  text-align: right;
  color: white;
}

/* Styles for buttons */
button{
  padding: 15px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 18px;
  margin: 0.85rem;
  color: white;
  cursor: pointer;
}

/* The equal button has a width of 130px */
.equal{
  width: 130px;
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 5px var(--glow), 0 0 10px var(--glow);
  }
  50% {
    box-shadow: 0 0 25px var(--glow), 0 0 50px var(--glow), 0 0 100px var(--glow);
  }
  100% {
    box-shadow: 0 0 5px var(--glow), 0 0 10px var(--glow);
  }
}

.hover-animated {
    color: white;
    border: 2px solid transparent;
    animation: pulse 1.5s infinite;
}

/* Animations to glow the buttons when the user places the cursor above the buttons */
.glow-green {
  --glow: #3ffa36;
  background-color: var(--glow);
  box-shadow: 0 0 10px 5px var(--glow);
  border: 2px solid var(--glow);
}

.glow-red {
  --glow: red;
  background-color: var(--glow);
  box-shadow: 0 0 10px 5px var(--glow);
  border: 2px solid var(--glow);
}

.glow-orange {
  --glow: orange;
  background-color: var(--glow);
  box-shadow: 0 0 10px 5px var(--glow);
  border: 2px solid var(--glow);
}

.glow-blue {
  --glow: blue;
  background-color: var(--glow);
  box-shadow: 0 0 10px 5px var(--glow);
  border: 2px solid var(--glow);
}

.glow-orangered {
  --glow: orangered;
  background-color: var(--glow);
  box-shadow: 0 0 10px 5px var(--glow);
  border: 2px solid var(--glow);
}

/* Light N Dark mode styles */
.dark-mode {
  background-color: black;
  color: lime;
}

.light-mode{
    background-color: transparent;
    color: white;
}